<a href="https://colab.research.google.com/github/Mimos07/TalentoTech/blob/main/Laboratorio1_DSBanco.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
ds_banco = pd.read_csv("/content/dataset_banco.csv")

In [4]:
ds_banco

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143.0,yes,no,unknown,5,may,261.0,1,-1.0,0,unknown,no
1,44,technician,single,secondary,no,29.0,yes,no,unknown,5,may,151.0,1,-1.0,0,unknown,no
2,33,entrepreneur,married,secondary,no,2.0,yes,yes,unknown,5,may,76.0,1,-1.0,0,unknown,no
3,47,blue-collar,married,unknown,no,1506.0,yes,no,unknown,5,may,92.0,1,-1.0,0,unknown,no
4,33,unknown,single,unknown,no,1.0,no,no,unknown,5,may,198.0,1,-1.0,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45210,51,technician,married,tertiary,no,825.0,no,no,cellular,17,nov,977.0,3,-1.0,0,unknown,yes
45211,71,retired,divorced,primary,no,1729.0,no,no,cellular,17,nov,456.0,2,-1.0,0,unknown,yes
45212,72,retired,married,secondary,no,5715.0,no,no,cellular,17,nov,1127.0,5,184.0,3,success,yes
45213,57,blue-collar,married,secondary,no,668.0,no,no,telephone,17,nov,508.0,4,-1.0,0,unknown,no
45214,37,entrepreneur,married,secondary,no,2971.0,no,no,cellular,17,nov,361.0,2,188.0,11,other,no

In [6]:
ds_banco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45215 entries, 0 to 45214
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45215 non-null  int64
 1   job        45213 non-null  object
 2   marital    45214 non-null  object
 3   education  45214 non-null  object
 4   default    45215 non-null  object
 5   balance    45213 non-null  float64
 6   housing    45215 non-null  object
 7   loan       45215 non-null  object
 8   contact    45215 non-null  object
 9   day        45215 non-null  int64
 10  month      45215 non-null  object
 11  duration   45214 non-null  float64
 12  campaign   45215 non-null  int64
 13  pdays      45214 non-null  float64
 14  previous   45215 non-null  int64
 15  poutcome   45215 non-null  object
 16  y          45215 non-null  object
dtypes: float64(3), int64(4), object(10)
memory usage: 5.9+ MB

In [7]:
# Imputación de valores nulos con la moda para las columnas categóricas 'job', 'marital' y 'education'
ds_banco['job'].fillna(ds_banco['job'].mode()[0], inplace=True)
ds_banco['marital'].fillna(ds_banco['marital'].mode()[0], inplace=True)
ds_banco['education'].fillna(ds_banco['education'].mode()[0], inplace=True)

In [8]:
ds_banco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45215 entries, 0 to 45214
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45215 non-null  int64
 1   job        45215 non-null  object
 2   marital    45215 non-null  object
 3   education  45215 non-null  object
 4   default    45215 non-null  object
 5   balance    45213 non-null  float64
 6   housing    45215 non-null  object
 7   loan       45215 non-null  object
 8   contact    45215 non-null  object
 9   day        45215 non-null  int64
 10  month      45215 non-null  object
 11  duration   45214 non-null  float64
 12  campaign   45215 non-null  int64
 13  pdays      45214 non-null  float64
 14  previous   45215 non-null  int64
 15  poutcome   45215 non-null  object
 16  y          45215 non-null  object
dtypes: float64(3), int64(4), object(10)
memory usage: 5.9+ MB

In [9]:
# Imputación de valores nulos con la mediana para las columnas numéricas 'balance' y 'duration'
ds_banco['balance'].fillna(ds_banco['balance'].median(), inplace=True)
ds_banco['duration'].fillna(ds_banco['duration'].median(), inplace=True)

In [10]:
ds_banco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45215 entries, 0 to 45214
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45215 non-null  int64
 1   job        45215 non-null  object
 2   marital    45215 non-null  object
 3   education  45215 non-null  object
 4   default    45215 non-null  object
 5   balance    45215 non-null  float64
 6   housing    45215 non-null  object
 7   loan       45215 non-null  object
 8   contact    45215 non-null  object
 9   day        45215 non-null  int64
 10  month      45215 non-null  object
 11  duration   45215 non-null  float64
 12  campaign   45215 non-null  int64
 13  pdays      45214 non-null  float64
 14  previous   45215 non-null  int64
 15  poutcome   45215 non-null  object
 16  y          45215 non-null  object
dtypes: float64(3), int64(4), object(10)
memory usage: 5.9+ MB

In [11]:
# Imputación de valores nulos en 'pdays' con -1
ds_banco['pdays'].fillna(-1, inplace=True)

In [12]:
ds_banco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45215 entries, 0 to 45214
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45215 non-null  int64
 1   job        45215 non-null  object
 2   marital    45215 non-null  object
 3   education  45215 non-null  object
 4   default    45215 non-null  object
 5   balance    45215 non-null  float64
 6   housing    45215 non-null  object
 7   loan       45215 non-null  object
 8   contact    45215 non-null  object
 9   day        45215 non-null  int64
 10  month      45215 non-null  object
 11  duration   45215 non-null  float64
 12  campaign   45215 non-null  int64
 13  pdays      45215 non-null  float64
 14  previous   45215 non-null  int64
 15  poutcome   45215 non-null  object
 16  y          45215 non-null  object
dtypes: float64(3), int64(4), object(10)
memory usage: 5.9+ MB

In [14]:
null_counts_imputation = ds_banco.isnull().sum()
print(null_counts_imputation)

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [15]:
# Descripción general para identificar posibles outliers
ds_banco.describe()

,age,balance,day,duration,campaign,pdays,previous
count,45215.000000,45215.000000,45215.000000,45215.000000,45215.000000,45215.000000,45215.000000
mean,41.004711,1374.118899,15.805839,258.072631,2.763729,40.191574,0.580383
std,12.036647,3924.173565,8.322473,257.602588,3.097910,100.119702,2.303438
min,18.000000,-8019.000000,1.000000,-1389.000000,1.000000,-1.000000,0.000000
25%,33.000000,72.000000,8.000000,103.000000,1.000000,-1.000000,0.000000
50%,39.000000,448.000000,16.000000,180.000000,2.000000,-1.000000,0.000000
75%,48.000000,1427.500000,21.000000,319.000000,3.000000,-1.000000,0.000000
max,776.000000,527532.000000,31.000000,4918.000000,63.000000,871.000000,275.000000

In [19]:
from scipy import stats
import numpy as np

# Usando Z-score para detectar outliers
z_scores = stats.zscore(ds_banco['balance'])
outliers = ds_banco[np.abs(z_scores) > 3]

print(outliers)

       age          job   marital  education default   balance housing loan  \
334     45   management  divorced   tertiary      no   24598.0     yes   no
446     39   technician    single    unknown      no   45248.0     yes   no
921     44       admin.   married  secondary      no   58544.0     yes   no
2067    55      retired   married  secondary      no   18722.0     yes   no
2214    56       admin.   married  secondary      no  527532.0     yes   no
...    ...          ...       ...        ...     ...       ...     ...  ...
44864   55   management  divorced   tertiary      no   26306.0     yes   no
44877   36   unemployed   married  secondary      no   17458.0      no   no
45022   57       admin.   married  secondary      no   16873.0      no   no
45121   78      retired   married    primary      no   14204.0      no   no
45130   67  blue-collar   married  secondary      no   16353.0      no   no

        contact  day month  duration  campaign  pdays  previous poutcome    y
334     unknown    5   may     313.0         3   -1.0         0  unknown   no
446     unknown    6   may    1623.0         1   -1.0         0  unknown  yes
921     unknown    7   may     144.0         2   -1.0         0  unknown   no
2067    unknown   12   may     128.0         2   -1.0         0  unknown   no
2214    unknown   12   may     146.0         1   -1.0         0  unknown   no
...         ...  ...   ...       ...       ...    ...       ...      ...  ...
44864  cellular   23   sep      84.0         1  589.0         4  failure   no
44877  cellular   23   sep     390.0         2   -1.0         0  unknown   no
45022  cellular   14   oct     219.0         3  372.0         1  failure   no
45121  cellular   26   oct     150.0         1  183.0         1    other   no
45130  cellular   27   oct     223.0         2   -1.0         0  unknown   no

[460 rows x 17 columns]